.flex-wrapper {
  display: flex;
  flex: 1;

  .menu-outer {
    width: 150px;

    :global {
      .ant-menu-item {
        margin: 8px 0;
      }
    }
  }
}

.permission-detail-right {
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
}

.name-action-wrap {
  width: 100%;
  justify-content: space-between;
  .name-action {
    visibility: hidden;
  }

  &:hover {
    .name-action {
      visibility: visible;
    }
  }

  :global {
    .iconfont {
      cursor: pointer;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
